In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("sheet_1.csv")

In [ ]:
df

       Quarter                   Encrypted Email  ... Units Recency
0      FY19'Q1  757043b476800d67ca6b793fe22610b3  ...     3    1019
1      FY19'Q1  815c656d552cbc56ecab9304ad17540c  ...     1    1001
2      FY19'Q1  ae69b698191be39cf0a60fd6e16165f5  ...     3     962
3      FY19'Q1  aea54c4b6e13731744b89a5873e262c5  ...    16    1005
4      FY19'Q1  d6e2891285b1ff2dbe02b44d2ef8a8c1  ...     4    1036
...        ...                               ...  ...   ...     ...
29104  FY20'Q2  24ed3285cb100aa6bfd0fd67c19d3b8c  ...     1     529
29105  FY20'Q2  151607a90c2400fdeaa5d24d626cedd4  ...     1     513
29106  FY20'Q2  8989c5021b793cb33c598f3cb58523ad  ...     1     535
29107  FY20'Q2  3407ea6d2620079eb0f13e96ed1eaebe  ...     1     548
29108  FY20'Q2  a1108bba82eb3566958bb9303f85ef07  ...     1     508

[29109 rows x 13 columns]

In [ ]:
df['Company Name'].value_counts()

Customer4525     30
Customer617      22
Customer6262     19
Customer2087     17
Customer3169     16
                 ..
Customer1490      1
Customer18261     1
Customer7830      1
Customer13166     1
Customer11527     1
Name: Company Name, Length: 20026, dtype: int64

In [18]:
df_1 = df.groupby(['Company Name']).count()##not working 4525 must have 30 entries

In [19]:
df_1

              Quarter  Encrypted Email  Country  ...  AOV  Units  Recency
Company Name                                     ...
0                   1                1        1  ...    1      1        1
Customer1           1                1        1  ...    1      1        1
Customer10          2                2        2  ...    2      2        2
Customer100         5                5        5  ...    5      5        5
Customer1000        1                1        1  ...    1      1        1
...               ...              ...      ...  ...  ...    ...      ...
Customer9995        2                2        2  ...    2      2        2
Customer9996        2                2        2  ...    2      2        2
Customer9997        1                1        1  ...    1      1        1
Customer9998        3                3        3  ...    3      3        3
Customer9999        1                1        1  ...    1      1        1

[20026 rows x 12 columns]

In [22]:
df_1.iloc[4525]

Quarter            2
Encrypted Email    2
Country            2
Tier               2
Employee Size      2
Industry           2
Revenue            2
Margin             2
Orders             2
AOV                2
Units              2
Recency            2
Name: Customer14070, dtype: int64

In [27]:
df.idxmax(axis = 1, skipna=True)

TypeError: ignored

In [30]:
df = df.groupby(['Company Name']).size().groupby(level=3).idxmax().apply(lambda x: x[1]).reset_index(name='Company Name')

ValueError: ignored

In [33]:
###IMPORTANT ULTRA MAX PRO
def get_top_values(df):
    return df['Company Name'].value_counts().idxmax() 

topdf = df.groupby('Revenue').apply(get_top_values)

In [34]:
topdf

Revenue
14         Customer3167
157        Customer2258
160        Customer1425
170       Customer17096
176        Customer9409
              ...
210785      Customer106
251252     Customer3931
277210    Customer11236
293016     Customer8128
298882     Customer4156
Length: 9321, dtype: object

In [37]:
n = 25
df['Company Name'].value_counts()[:n].index.tolist()

['Customer4525',
 'Customer617',
 'Customer6262',
 'Customer2087',
 'Customer3169',
 'Customer4663',
 'Customer1448',
 'Customer1271',
 'Customer5771',
 'Customer1063',
 'Customer3131',
 'Customer1570',
 'Customer959',
 'Customer4012',
 'Customer572',
 'Customer1162',
 'Customer694',
 'Customer1041',
 'Customer4023',
 'Customer3135',
 'Customer362',
 'Customer2362',
 'Customer2644',
 'Customer1614',
 'Customer207']

In [38]:
data_set = df['Company Name'].value_counts()

In [39]:
data_set

Customer4525     30
Customer617      22
Customer6262     19
Customer2087     17
Customer3169     16
                 ..
Customer1490      1
Customer18261     1
Customer7830      1
Customer13166     1
Customer11527     1
Name: Company Name, Length: 20026, dtype: int64

In [40]:
data_set.to_csv(r'Q4_1.csv')